
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote">欢迎管理员：
            <span class="x-red">{{$_SESSION['userinfo']['username']}}</span>！当前时间:{{date('Y-m-d H:i')}}</blockquote>
        
        <fieldset class="layui-elem-field">
            <legend>开发团队</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <th>版权所有</th>
                            <td>海华金融超市
                                <a href="http://www.fjhhjr.com/" class='x-a' target="_blank">访问官网</a></td>
                        </tr>
                        <tr>
                            <th>开发者</th>
                            <td>王涛(821586178@qq.com)</td></tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
    
    </body>
</html>